<p>service works!</p>

<div class="row">
    <div class="col-md-6">
    

      <div class="card" style="width: 18rem; display:inline-block;">
        <img class="card-img-top" src="../../assets/imges/apple.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Apple</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="service1" class="btn btn-primary">Go to Apple</a>
        </div>
      </div>

      <div class="card" style="width: 18rem; ">
        <img class="card-img-top" src="../../assets/imges/grps.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Grepes</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="service2" class="btn btn-primary">Go to Grepes</a>
        </div>
      </div>

      
</div>
    <div class="col-md-6">
        <div>
             <router-outlet></router-outlet>
        </div>
    </div> 
</div>