<!--The content below is only a placeholder and can be replaced.
<app-comp2></app-comp2>
<app-comp3></app-comp3>

<h4>ASSINGMENT -3 ngFor  AND ngIf<h4>

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<app-comp1></app-comp1> 
<app-ngswitch></app-ngswitch>
<app-ng-for></app-ng-for>
<app-ngclass></app-ngclass>-->
<!--  -->
<!-- <app-child [empdata]="employee" (productOutput)="getvaluefromChield($event)"></app-child> -->
<!-- <button class="btn btn-primary">Click Me!</button>  -->
<!-- <app-parent></app-parent> -->
<!-- <app-ng-for<app-simple-form></app-simple-form>-->
<!-- <app-myreactiveform></app-myreactiveform> -->
<!-- <div *ngFor="let p of prod">
  UserName : <strong>{{p.name}}</strong>
  Id : <strong>{{p.id}}</strong>

</div> 
<app-forservices></app-forservices>
<app-pipedemo></app-pipedemo>-->
<header>
  <nav >
    <ul class=" nav nav-tab">
      <li class="nav-item">
        <a class="nav-link"  routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/aboutus" routerLinkActive="active" >AboutUs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"routerLink="/contactus" routerLinkActive="active" >ContactUs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"routerLink="/products" routerLinkActive="active" >Products</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link"routerLink="/service" routerLinkActive="active" >Services</a>
      </li>

      <li class="nav-item">
        <a class="nav-link"routerLink="/order" routerLinkActive="active" >Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"routerLink="/test" routerLinkActive="active" >Customer</a>
      </li>
    </ul>
  </nav>
</header>
<!--<div class="row">
  <div class="col-md-4">
    <app-comp11></app-comp11>
  </div>

  <div class="col-md-4">
    <app-comp22></app-comp22>
  </div>

  <div class="col-md-4">
    <app-comp33></app-comp33>
  </div>

  <div class="col-md-4">
    <app-comp44></app-comp44>
  </div>

</div> 
<div class="row">
<div class="col-md-4">
<app-sub1></app-sub1>
</div>
</div>
<div class="row">
<div class="col-md-4">
  <app-sub2></app-sub2>
  </div>
</div> -->
<!-- <p appCustdir>Tis is Parveen ... Struglling to learn Angular...but taking efforts n never givup</p> -->
<router-outlet></router-outlet> 
