<p>products works!</p>
<button class="btn btn-success" (click)="backk()">Logout</button>
<div class="row">
    <div class="col-md-8">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/imges/laptop.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Laptop</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="laptop" class="btn btn-primary">Go to Laptop</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/imges/tv.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">TV</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="tv" class="btn btn-primary">Go to TV</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/imges/tab.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Tablet</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="tablet" class="btn btn-primary">Go to Tablet</a>
        </div>
      </div>

      

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/imges/machin.webp" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Washing Machine</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="wasingmachin" class="btn btn-primary">Go to Washing Mashine</a>
        </div>
      </div>
    </div>
     <div class="col-md-4">
        <div>
             <router-outlet></router-outlet>
        </div>
    </div> 
</div>