<p>simple-form works!</p>
<div class="container">
    <div class="row justify-content-center" >
        <div class="col-md-6 text-left rounded shadow py-5 " style="background-color:rgb(192, 140, 240) ;">
            <form #myForm ="ngForm" (ngSubmit)="OnSubmit(myForm)">
                <h3><strong>Student Registretion Form</strong></h3><hr>
                <table class="form-group" class="spc">
                    <tr>
                        <td><label for="rollno">Roll No:</label></td>
                        <td><input ngModel type="text" required class="form-control" id="rollno" name="rollno" ngModel placeholder="enter roll no..."></td>
                    </tr>   

                    <tr>
                        <td><label for="stdname">Student Name:</label></td>
                        <td><input ngModel type="text" class="form-control" id="stdname" name="stdname" ngModel placeholder="enter name ..."></td>
                    </tr> 

                    <tr>
                        <td><label for="email">EmailId:</label></td>
                        <td><input (blur)="checkemail(email)" #email="ngModel" type="text" class="form-control" id="email" name="email" ngModel placeholder="enter email ..."></td>
                        <small class="text-danger" *ngIf="evalidater">Invalide Email</small> 
                        <small class="text-denger" *ngIf="!email.valid && email.touched">Invalide Email</small>
                    </tr>
                    <tr>
                        <td><label for="gender">Gender:</label></td>
                        <td>
                            <input  type="radio" id="gender" name="gender" value="Male" ngModel>
                            <label>Male</label>
                            <input  type="radio"id="gender" name="gender" value="Female" ngModel>
                            <label>Female</label>
                            <input type="radio"id="gender" name="gender" value="Other">
                            <label>Other</label>
                        </td>
                    </tr> 
                    <tr>
                        <td><label for="mob">MobileNo:</label></td>
                        <td><input type="text" class="form-control" id="mob" name="mob" ngModel placeholder="10 digit..."></td>
                    </tr> 
                    <tr>
                        <td><label for="course">Course Name:</label></td>
                        <td><select name="course" id="course" [ngModel]="defalultValue">
                            <option  *ngFor="let s of sub">{{s}}</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td><label for="date"> Date :</label></td>
                        <td><input  type="date" name="date" #date="ngModel" ngModel id="date" class="form-control" min="{{currentDate | date:'yyyy-MM-dd'}}"></td>
                    </tr>
                    <tr>
                        <td><button type="submit" class="btn mt-3" [disabled]="!myForm.valid">Submit</button></td>
                        <td><button type="reset" class="btn  mt-3">Reset</button></td>

                    </tr>

                </table>

                <table  class="table table-bordered" *ngIf="showForm">
                    <thead>
                        <tr>
                        <th>RollNo</th>
                        <th>Name</th>
                        <th>EmailId</th>
                        <th>Gender</th>
                        <th>MobileNo</th>
                        <th>Course</th>
                        

                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{userData.rollno}}</td>
                            <td>{{userData.stdname}}</td>
                            <td>{{userData.email}}</td>
                            <td>{{userData.gender}}</td>

                            <td>{{userData.mob}}</td>
                            <td>{{userData.course}}</td>


                        </tr>
                    </tbody>
                </table>
            </form>

        </div>
    </div>


</div>